
body{
  background: #FFF url(../images/header-background.png) repeat-x; 
  margin:0;
}
body.toolbar {
  background-position: 0 30px;
}
body.admin-menu {
  background-position: 0 29px;
}
body.toolbar-drawer {
  background-position: 0 65px;
}


#wrapper {
  font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  /* Use a 12px base font size with a 16px line height */
  font-size: 0.75em; /* 16px x .75 = 12px */
  line-height: 1.333em; /* 12px x 1.333 = 16px */
}

#navbar{
  margin:0 auto;
  padding:0;
  min-height: 140px;
  background: url(../images/header-curve.png) no-repeat right top;
  border: 0; 
}

/********* Primary Navigation *****/
#navbar-collapse nav {
  text-align: center;
  font-size: 150%;
}
.navbar-collapse {
  border: 0;
}
.navbar-toggle {
  border: 0;
  margin: 50px 20px 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #ddd;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
ul.navbar-nav {
  padding: 0;
  list-style: none outside none;
  @include col-md() {
      position: absolute;
      right: 0;
      margin: 0 50px 0 0;
    }
}
#navbar-collapse nav li {
  padding:0;
  display: inline;
  list-style: none outside none;
  @include col-md() {
  }
}
#navbar-collapse nav a/* primary-nav links */
  {
  margin: 0 5px 0 0;
  font-family:"Century Gothic",Helvetica,"Bitstream Vera Sans",sans-serif;
  text-transform: uppercase;
  @include col-md() {
      color: #fff;
      float:left;
      padding:100px 10px 5px 10px;
    }
  }
#navbar-collapse nav li.active a,
#navbar-collapse nav a:hover {
  background-color: #e7e7e7;
  @include col-md() {
    background: transparent url(../images/trans.png) repeat;
  }
}

.navbar-default .navbar-brand { 
  font-family: "Century Gothic", Helvetica, "Bitstream Vera Sans", sans-serif;
  font-size: 2em;
  font-weight: normal;
  color: #FFF;
  text-shadow: 0 1px 11px #999999;
  margin: 40px 0 0 10px;
}

/**** SUB NAV *****/

#sub-navigation ul.secondary{
  background: transparent url(../images/sub-nav.png) repeat-x;
  float:left;
  height: 38px;
  padding: 0;
  position: relative;
  margin: 0 0 20px 0;
}

#sub-navigation ul.secondary li{
  padding-right:0;
  float:left;
  display:block;
  height: 38px;
  padding:9px 15px 0;
}
#sub-navigation ul.secondary li a{
  height:38px;
  color: #FFF;
  background-color: transparent;
}
#sub-navigation ul.secondary li a:hover, #sub-navigation ul.secondary li a.active{text-decoration:underline;}
#sub-navigation ul.secondary li.last{
  background: transparent url(../images/sub-nav-end.png) no-repeat right top;
  padding:9px 35px 0 15px;
}
#sub-navigation ul.secondary li.first{
  padding:9px 15px 0 35px;
}
#sub-navigation .navbar-nav > li > a {
  padding: 0;
}

/* 
 *  Blocks
*/

#user-login-form .btn {
  margin: 0 auto;
  display: block;
}

/* 
 *  Footer
*/

.footer {
  width: 100%;
  background-color: #efefef;
  color: #fff;
  font-size: 0.9em;
  font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  background: url(../images/footer-pattern.png) repeat 0 0;
  overflow: hidden;
  min-height: 327px;
  margin: 0;
  padding: 0;
}
.footer-inner {
  background: url(../images/footer-right2.png) no-repeat right bottom;
  min-height: 327px; 
}
.footer-inner-inner {
  background: url(../images/footer-left.png) no-repeat left bottom;
  min-height: 327px;
  overflow: hidden;
}
.region-footer {
  padding: 20px;
}
.footer a {
  color: #fff;
}
.footer .col-md-4 .region {
  padding: 20px 30px;
}
.footer .nav > li > a:hover, 
.nav > li > a:focus {
  color: #23527c;
}
